# Database
DATABASE_URL="postgresql://username:password@localhost:5432/ptam_forecasting?schema=public"

# Next.js
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# ML Model API (jika terpisah)
ML_MODEL_API_URL="http://localhost:5000"
ML_MODEL_API_KEY="your-ml-api-key"

# Session Secret
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
